<?xml version="1.0" encoding="UTF-8"?>
<app-toolbar class="toolbar" sticky="sticky">
    <paper-button id="tocToggle" class="toc-toggle" raised="raised">
        <iron-icon icon="icons:info-outline"/> <pb-i18n key="metadata.self">Metadata</pb-i18n>
    </paper-button>
    <pb-restricted login="login">
        <pb-ajax subscribe="transcription" emit="transcription" url="${app}/modules/lib/regenerate.xql" data-template="pages:parse-params" event="pb-refresh" title="Recompile ODD" data-i18n="[title]menu.admin.recompile">
            <h3 slot="title">
                <pb-i18n key="menu.admin.recompile"/>
            </h3>
            <paper-icon-button icon="icons:refresh"/>
        </pb-ajax>
    </pb-restricted>
    <pb-zoom emit="transcription" direction="in" icon="icons:zoom-in"/>
    <pb-zoom emit="transcription" direction="out" icon="icons:zoom-out"/>
    <pb-progress subscribe="transcription" indeterminate="indeterminate" bottom-item="bottom-item"/>
</app-toolbar>